.chat-bubble {
  max-width: 70%;
  margin: 10px;
  padding: 10px 14px;
  border-radius: 20px;
  display: inline-block;
}
.chat-bubble.bot {
  background: #e0e0e0;
  text-align: left;
}
.chat-bubble.user {
  background: #9cd8ff;
  text-align: right;
  float: right;
}
