.map-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 10px;
}
.map-card h4 {
  margin: 0;
}
.map-card a {
  color: #0077ff;
  text-decoration: none;
}
